


// @use "./partials" as *;                //ok - best uses
// @import "./partials/variables";        //ok
// @use "./partials/variables" as *;        // ok


@use "partials" as *;
@use "pages" as *;
@use "base" as *;



// nav css start
// nav top
.navbar{
    background-color: $body-color !important;
    .navbar-toggler:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .offcanvas{
        width: 250px !important;
        .search{
          width: 400px;
          margin-left: 10%;
          input:focus{
            box-shadow: none;
            border: 1px solid $primary-color;
          }
        }
        
    }
}

// nav bottom
.nav-bottom{
    border-top: 1px solid lighten($color: $secondary-color, $amount: 77) !important;
    height: 2.8rem !important;
    margin-left: -2.5rem ;
    // box-shadow: 0px -2px 3px  lighten($color: $secondary-color, $amount: 77);

    .active{
        border-top: 2px solid $primary-color;
        padding: .6rem 0rem;
        font-weight: 500;
        margin-top: -.75rem;
        color: $primary-color !important;
    }
    ul{
        margin-top: .75rem;
        .nav-item{
            width: 3.5rem;
        }
    }
}

@media (min-width: 768px) {
    .nav-bottom{
        display: none;
    }
}


nav{ 
        background-color: $body-color;
        position: fixed; z-index: 1000;
        height: 5rem !important;
    div{
        .navbar-collapse{
            background-color: $body-color;
        }
        div{
            ul{ 
                li{ margin-left: $margin-min;
                    a{color: $title-color !important; font-size: $title-font-size ; 
                        &:hover{color: $primary-color !important;}
                    }                   
                    .sign-in{ 

                    }
                    
                    .add-listing{ 
                        a{color: $primary-color !important;
                            &:hover{color:white !important;
                                i{
                                    border-color: $title-color-light !important;
                                    
                                }
                            }
                            i{
                                padding:  .1rem;
                                border-color: $primary-color !important;
                                &:hover{
                                border-color: $title-color-light !important;
                                }
                            }
                        }               
                    }
                    
                }
            }
        }
    }
}
// nav css end

// top cover css start
#top-cover{ height: 30.25rem;
            margin-top: $space-sec-top;
            // background-color: $secondary-color;
            background: linear-gradient(0deg, rgba(29 29 29 / 70%), rgba(29 29 29 / 70%)), url(../image/boxivew-top-cover-photo.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .top-cover-wrapping{ height: 30.25rem;
                .search{ 
                
                    .search-title{
                        color: $heading-color-light;
                        max-width: 57.25rem;
                       
    
                    }
                    .search-box{background-color: $body-color;
                                // border-radius: 3rem;
                                // width: 57.25rem;
                                max-width: 57.25rem;
                        .search-key{ 
                            
                        }
                        .search-city{ 
                            // border-left: 2px solid $line-color !important;
                        }
                        .search-category{ 
                            // border-left: 2px solid $line-color !important;
                         
                        }
                        .search-btn{
                            
                        }
                    }
                }
    
            }

            .listing-menu{
                .list-btn{
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
                        a{
                            color: $title-color-light
                        }
                        
            }
            .list-main-menu{
                .list-sub-menu{
                    // @extend .box-shadow;
                    background-color: $body-color;
                    // margin-left: -5%;
                    // position: absolute;
                    ///////////////////////////////////////////////
                    display: none;
                    .sub-menu-title{
                        font-size: 1.1rem;
                    }
                    .see-more{
                        transition: .3s;
                        &:hover{
                            i{
                                transform:translateX(.3rem)
                            }
                        }
                    }
                    li{
                        margin-left: -.7rem;
                        
                        i{
                            color: $primary-color;
                            margin-right: $margin-min;
                        }
                    }
                    a{
                        color: $title-color;
                        
                    }
                    .list-menu-name{
                        ///////////////////////////
                        display: none ;
                        li{
                            margin-top: $margin-min-extra;
                            text-align: left;
                            transition: .3s;
                            &:hover{
                                a{
                                    color: $title-color ;
                                    i{
                                        transform: scale(1.3);
                                    }
                                }
                            }
                            a{
                                color: $text-color;
                                i{
                                    margin-right: $margin-min;
                                }
                                
                            }
                        }
                    }
                }
            }
            }
            
}
// top cover css end

// top categories css start
#top-categories{ margin-top: 5rem; 
    .container{
        .top-ctg-wrapping{
            .top-ctg-heading{ color: $heading-color;
                
            }
            .see-more{color: $primary-color; margin-top: $margin-normal; margin-bottom: $margin-normal;}
            .top-ctg-card{
                .card{
                    background-color: $bg-color;
                    border: none;
                    // max-width: 300px;
                    img{
                        margin-top: $padding-normal;
                        height: 4rem;
                        width: 4rem;

                    }
                    .category-name{
                        color: $title-color-deep;
                    }
                    .card-text{
                        background-color: $bg-color-deep;
                        max-width: 2.188rem;
                        border-radius: .5rem;
                        // font-size: $text-font-size !important;
                        color: $text-color;
                        // margin-top: $margin-min;
                        margin-bottom: $margin-min;
                        // small{ padding: .1rem}
                    }
                }
            }
        }
    }
}
// top categories css end

// directory-listing css start
#directory-listing{  background-color: $bg-color; 
    .dir-list-wrapping{
        .directory-list{
            .row{
                .directory-card{
                    &:hover{ 
                        .brand-logo{margin-top: 1.25rem;}
                    }
                    .brand-logo{
                        // width: 5rem;
                        margin-left: $margin-normal;
                        margin-top: -1.25rem;
                        transition: .3s;
                        
                    }
                    .card-body{
                        h5{ color: $title-color;}
                        p{color: $title-sub-color; font-size: $text-font-size; margin-top: -.25rem;}
                        
                        a{
                           color: $text-color;
                           i{
                            color: $primary-color;
                           }
                           transition: .3s;
                           &:hover{
                                i{transform: scale(1.2);}
                            }
                        }
                        .location{ margin-top: -.5rem}
                    }
                }
            }
        }
    }

}
// directory-listing css end

// trending products css start
#trend-products{ 
    .container{
        .products-wrapping{
            .products-heading{
                .heading-title{ }
            }
            .product-list{
                .product-card{ 
                    .card{ transition: .3s;
                            &:hover{
                                // transform: scale(1.02);
                                .product-fav{
                                    visibility: visible !important;
                                }
                        
                        }
                    }
                    img{
                        @include img-style;
                        // height: 14.375rem;
                    }
                    
                    .card-body{
                        .rangking{ margin-top: -$margin-min-extra;
                            .likes{ color: $text-color;
                                i{color: $primary-color; padding-right: $padding-min-extra}
                            }
                            .reviews{ color: $text-color;
                                i{color: $primary-color; font-size: .78rem !important; }
                            }
                        }
                        .order-now{
                            .price{  font-size: $text-font-size-large; font-weight: $font-medium; color: $text-color;
                                i{color: $primary-color ; font-size: $text-font-size-large;}
                                p{margin-bottom: -.2rem;}
                            }
                        }
                    }
                }
            }
        }
    }
}
// trending products css end


// affiliate css start
#affiliate{ 
    .affiliate-wrapping{
        .affiliate-content{
            // top: 32%;
            .affiliate-txt{
                // margin-left: 7rem;
            }
            .news-letter{
                i{
                    color: $primary-color;
                }
            }
        }
    }

}
// affiliate css end

// testimonial css start
#testimonial{ background-color: $bg-color; 
    .container{
        .testimonial-wrapping{
            .heading-sub-title{padding-bottom: $padding-max}
            .prev-next-btn{
                margin-bottom: $margin-normal;
               
            }
            .testimonial-card{
                margin-top: -3rem;
                .profile-photo{
                    margin-top: -2.5rem;
                    width: 7.5rem;
                    height: 7.5rem;
                    @include img-style;
                    img{margin-left: 3.75rem;}
                }
                .profile-name{ margin-left: $margin-max;
                    padding-top: $padding-medium;
                    h6{color: $title-color;}
                    
                    .designation{ 
                        margin-top: -$margin-min-extra;
                        color: $text-color;
                    }
                }
            }
            .card-body{
                
                padding: $padding-normal;
                
            }
            
        }
    }
}
// testimonial css end

// footer css start
#footer{ background-color: $primary-color; padding-top: $padding-section-title;
    .container{
        hr{color: $text-color-light;}
        .copy-right{
            color: $text-color-light;
        }
        .footer-wrapping{
            h5{color: $title-color-light; padding-bottom: $padding-min;}
            
            .boxiew{
                .logo{
                    padding-bottom: $padding-section-title;
                }
                .contact-info{
                   a{
                     color: $text-color-light;
                     font-size: $text-font-size;
                     transition: .3s;
                     i{
                        margin-right: $margin-min;
                     }
                     &:hover{
                        color: $title-color-light;
                     }
                   }
                }
            }

            .info-link{
                a{
                color: $text-color-light;
                font-size: $text-font-size;
                text-decoration: none;
                transition: .3s;
                &:hover{
                    color: $title-color-light;
                    i{
                        transform: scale(1.3);
                    }
                }
                }
                div{padding-bottom: $padding-min;
                    i{padding-right: $padding-min;}
                }
            }
            
            .follow-us{
                .social-link{
                    a{ color: $text-color-light;
                        i{
                            padding-right: $padding-min;
                        font-size: $text-font-size-large;
                        transition: .3s;
                        &:hover{
                            color: $title-color-light;
                            transform: scale(1.3)
                            }
                        }
                    }
                }
            }
        }
    }

}
// footer css end





// media query for responsive start
@media (min-width: $viewport-xm) {
    // body{
    //     h1,h2,h3  {
    //         font-size: 100%;
    //     }
        
    //     h4,h5,h6{
    //         font-size: 90%;
    //     }
    //     p{
    //         font-size: 85% ;
    //     }
    //     a{
    //         font-size: 82% ;
    //     }

    //     .button .button-light{
    //         padding: .2rem 1rem;
    //     }
    // }

    #top-cover{
        height: 25.5rem;
        
        .search-title{
            margin-top: 3rem;
        }
        .search-box{
            display: none;

            select{
                font-size: .95rem !important;
            }
              
        }

        .active{
            display: block ;
        }
        .disable{
            display: none;
        }
      
        .listing-menu{

           
        .list-main-menu{
            transition: .3s;
            margin-left: -2rem;
            margin-top: 3rem;
            
            // &:hover{
            //     .list-sub-menu{
            //         display: block;
            //     }
            // }
            li{
                &:hover{
                    .list-sub-menu{
                            display: block;
                    }
                }

                
            }
            .sub-2nd, .sub-4th, .sub-6th{
                margin-left: -11.7rem !important;
            }
            .list-sub-menu{
                // @extend .box-shadow;
                // background-color: $body-color;
                // margin-left: -14.5%;
                text-align: left;
                width: 11rem;
                /////////////////////////////////
                display: none;
                margin-left: -5%;
                position: absolute;
                

                .list-menu-name{
                    //////////////////
                    display: none;
                    width: 13rem;
                    position: absolute;
                    background-color: $body-color;
                    left: 9rem;
                    top: 10%;
                    li{
                        margin-top: $margin-min-extra;
                        margin-left: .5rem;
                        text-align: left;
                        transition: .3s;
                        &:hover{
                            a{
                                color: $title-color ;
                                i{
                                    transform: scale(1.3);
                                }
                            }
                        }
                        a{
                            color: $text-color;
                            i{
                                margin-right: $margin-min;
                            }
                            
                        }
                    }
                }


                .sub-menu-title{
                    font-size: 1rem;
                }
                .see-more{
                    // transition: .3s;
                    // &:hover{
                    //     i{
                    //         transform:translateX(.3rem)
                    //     }
                    // }
                    margin-left: 1.8rem;
                }
                li{
                    margin-left: -.7rem;
                    transition: .3s;
                    &:hover{
                        background-color: $bg-color;
                        .list-menu-name{
                            display: block;
                        }
                    }
                    
                    // i{
                    //     color: $primary-color;
                    //     margin-right: $margin-min;
                    // }
                    // ul:nth-child(2 ){
                    //     margin-left: -20rem;
                    // }
                }
                a{
                    // color: $title-color;
                    
                }
                
            }
        }
        }
    }

    #top-categories{
        margin-top: $space-sec-xm ;
        .see-more{
            margin-bottom: $space-title-xm;
        }
    }

    #directory-listing{
        margin-top: $space-sec-xm;
        padding-bottom: $space-sec-xm;
        .section-heading{
            padding-top: $space-title-xm;
            h6{
                font-size: .8rem;
                font-weight: $font-regular;
            }
        }
        .brand-logo{
            width: 3.75rem;
        }
        .see-more{
            margin-bottom: $space-title-xm;
        }
    }

    #trend-products{
        margin-top: $space-sec-xm;
        .section-heading{
            padding-top: $space-title-xm ;
            h6{
                font-size: .8rem;
                font-weight: $font-regular;
            }
        }
        .product-list{
            .text-style{
                display: none;
            }
            .rangking{
                padding-top: $margin-min;
                font-size: .85rem;
                // .reviews{
                //     .fa-star{
                //         font-size: .8rem !important;
                //     }
                // }
            }
            
            .price{
                font-size: 1rem !important;
            }
            .button{
                font-size: .65rem !important;
                padding: .2rem 0.625rem;
            }
            .see-more{
                margin-bottom: $space-title-xm;
            }
        }
        
    }

    #affiliate{
        margin-top: $space-sec-md;
        .affiliate-wrapping{
            height: 13rem ;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .affiliate-content{
            top: 18%;
            .affiliate-txt{
                // margin-left: 2.5rem;
                p{font-size: .8rem !important;}
            }
            .news-letter{
                margin-right: 2.5rem;
                input{
                    font-size: .8rem;
                    color: $text-color;
                }
            }
        }
    }

    #testimonial{
        margin-top: $space-sec-md;
        padding-bottom: $space-sec-md;
        .section-heading{
            padding-top: $space-title-xm;
            h6{
                font-size: .8rem;
                font-weight: $font-regular;
            }
        }
        .profile-photo{
            width: 5rem !important;
            height: 5rem !important;
            margin-left: -.5rem;
            margin-top: -1.5rem !important;
        }
        .reviews{
            font-size: .8rem;
        }
        .prev-next-btn{
            font-size: 1rem;
        }

        .tsml-card:last-child{
            display: none;
        }
        
    }
    #footer{
        a{
            font-size: 80% ;
        }
    }

  }



// test
.slick-slide {
    margin: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }
  
  .test {
    position: relative;
  }
  
  .test .slick-prev {
    background-color: #00A884;
    margin-top: -20px;
    position: absolute;
    top: 0;
    left: 95%;
  }
  
  .test .slick-prev:hover {
    background-color: #00A884 !important;
  }
  
  .test .slick-next {
    background-color: #00A884 !important;
    margin-top: -20px;
    position: absolute;
    top: 0;
  }
  
  .test .slick-next:hover {
    background-color: #00A884 !important;
  }


  @media (max-width: 576px) {
    .slick-prev {
      left: 85% !important;
    }
    .slick-next {
      left: 93%;
    }

}
///test  





  @media (min-width: $viewport-sm){
    // h4,h5,h6{
    //     font-size: 95%;
    // }
    
  }

  @media (min-width: $viewport-md) {
    // body{
    //     h1,h2,h3 {
    //         font-size: 130%;
    //     }
        
    //     h4,h5,h6{
    //         font-size: 100%;
    //     }
    //     p{
    //         font-size: 95%;
    //     }
    //     a{
    //         font-size: 90%;
    //     }

    //     .button .button-light{
    //         padding: .3rem 1.4rem;
    //     }
        
    // }

    nav{
        .navbar-collapse{
            background-color: none !important;
            box-shadow: none !important ;
        }
    }

    #top-cover{
        height: 28rem;
        .search-box{
            display: block;
        }

        .search-title{
            margin-top: 6rem;
        }
        
        select{
            font-size: .95rem ;
        }
          
        
        .min-search-btn{
            display: none;
        }
        .listing-menu{
            margin-top: 4rem;
           
            .list-btn{
                // background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
                    a{
                        // color: $title-color-light
                    }
                    
        }
        .list-main-menu{
            // transition: .3s;
            // margin-left: -2rem;
            // margin-top: 3rem;
            // &:hover{
            //     .list-sub-menu{
            //         display: block;
            //     }
            // }
            li{
                // margin-right: .5rem;
            }
            .list-sub-menu{
                // @extend .box-shadow;
                // background-color: $body-color;
                margin-left: -30rem;
                // text-align: left;
                width: 43.1rem;
                display: block;

                .list-menu-name{
                    display: block !important;
                    // width: 18rem;
                    position: static;
                    background-color: none;
                    left: 0%;
                    top: 0%;
                    li{
                        margin-top: $margin-min-extra;
                        margin-left: .5rem;
                        text-align: left;
                        transition: .3s;
                        &:hover{
                            a{
                                color: $title-color ;
                                i{
                                    transform: scale(1.3);
                                }
                            }
                        }
                        a{
                            color: $text-color;
                            i{
                                margin-right: $margin-min;
                            }
                            
                        }
                    }
                }

                .sub-menu-title{
                    font-size: 1rem;
                }
                .see-more{
                    // transition: .3s;
                    // &:hover{
                    //     i{
                    //         transform:translateX(.3rem)
                    //     }
                    // }
                    // margin-left: 1.8rem;
                }
                // li{
                //     margin-left: -.7rem;
                //     transition: .3s;
                //     &:hover{
                //         background-color: $bg-color;
                //         .list-menu-name{
                //             display: block;
                //         }
                //     }
                    
                    // i{
                    //     color: $primary-color;
                    //     margin-right: $margin-min;
                    // }
                }
                a{
                    // color: $title-color;
                    
                }
                
            }
        }
        }
    

    #top-categories{
        margin-top: $space-sec-md;
    }

    #directory-listing{
        margin-top: $space-sec-md;
        padding-bottom: $space-sec-md;
        .section-heading{
            padding-top: $space-title-md !important;
            h6{
                font-size: .9rem;
                font-weight: $font-medium;
            }
        }
        .brand-logo{
            width: 5.6rem;
        }
    }

    #trend-products{
        margin-top: $space-sec-md;
        .section-heading{
            // padding-top: $space-title-md !important;
            h6{
                font-size: .9rem;
                font-weight: $font-medium;
            }
        }
        
    }

    #affiliate{
        margin-top: $space-sec-md;
        .affiliate-wrapping{
            height: 12rem ;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .affiliate-content{
            top: 25%;
            .affiliate-txt{
                margin-left: 2.5rem;
                p{font-size: .8rem !important;}
            }
            .news-letter{
                margin-right: 2.5rem;
                input{
                    font-size: .8rem;
                    color: $text-color;
                }
            }
        }

        .news-letter{
            margin-right: 0rem;
            input{
                font-size: .8rem;
                color: $text-color;
            }
        }
    }

    #testimonial{
        margin-top: $space-sec-md;
        padding-bottom: $space-sec-md;
        .section-heading{
            padding-top: $space-title-md;
            h6{
                font-size: .9rem;
                font-weight: $font-medium;
            }
        }

        .tsml-card:last-child{
            display: none;
        }
        .profile-photo{
            width: 7rem !important;
            height: 7rem !important;
            // margin-left: -.5rem;
            margin-top: -2rem !important;
        }
        .card-body{
            margin-left: -2rem;
        }
    }


}

  @media (min-width: $viewport-lg) {
    // body{
    //     h1,h2 ,h3{
    //         font-size: 150%;
    //     }
    //     p{
    //         font-size: 100% ;
    //     }
    //     a{
    //         font-size: 92% ;
    //     }
        
    // }

    #top-cover{
        .search-title{
            margin-top: 6.5rem;
        }
        // .dir-categories{
        //     margin-top: 6.5rem;
        // }
        .search-box{
            border-radius: 100px !important;
            .form-select{
                border: none !important;
                border-left: 1px solid $text-color !important;
                border-radius: none !important;
            }
            input{
                border: none !important;
                
            }
        }

        .listing-menu{
            margin-top: 4rem;
           
            
        .list-main-menu{
            
            // &:hover{
            //     .list-sub-menu{
            //         display: flex !important;
            //     }
            // }
            li{
                &:hover{
                    ul{
                            display: flex !important;
                    }
                }
            }
            .sub-1st, .sub-4th{
                margin-left: -1rem !important;
            }
            .sub-2nd, .sub-5th{
                margin-left: -20.7rem !important;
            }
            .sub-6th{
                margin-left: -40.2rem !important;
            }
            .list-sub-menu{
                
                margin-left: -40rem;
                width: 58.8rem ;
                display: none !important;

                .list-menu-name{
                    // display: none !important;
                    // width: 18rem;
                    position: static;
                    background-color: none;
                    left: 0%;
                    top: 0%;
                    box-shadow: none !important;
                    li{
                        margin-top: $margin-min-extra;
                        margin-left: 0rem;
                        text-align: left;
                        transition: .3s;
                        &:hover{
                            a{
                                color: $title-color ;
                                i{
                                    transform: scale(1.3);
                                }
                            }
                        }
                        a{
                            color: $text-color;
                            i{
                                margin-right: $margin-min;
                            }
                            
                        }
                    }
                }

                .sub-menu-title{
                    font-size: 1rem;
                }
                .see-more{
                    // transition: .3s;
                    // &:hover{
                    //     i{
                    //         transform:translateX(.3rem)
                    //     }
                    // }
                    // margin-left: 1.8rem;
                }
                // li{
                //     margin-left: -.7rem;
                //     transition: .3s;
                //     &:hover{
                //         background-color: $bg-color;
                //         .list-menu-name{
                //             display: block;
                //         }
                //     }
                    
                    // i{
                    //     color: $primary-color;
                    //     margin-right: $margin-min;
                    // }
                }
                a{
                    // color: $title-color;
                    
                }
                
            }
        }
    }

    #top-categories{
        margin-top: $space-sec-lg ;
    }

    #directory-listing{
        margin-top: $space-sec-lg;
        padding-bottom: $space-sec-lg;
        .section-heading{
            padding-top: $space-title-lg !important;
        }
    }

    #trend-products{
        margin-top: $space-sec-lg;
        .product-list{
            .text-style{
                display: none;
            }
            .rangking{
                padding-top: $margin-min;
                font-size: .85rem;
                // .reviews{
                //     .fa-star{
                //         font-size: .8rem !important;
                //     }
                // }
            }
            .price{
                font-size: 1rem !important;
            }
            .button{
                font-size: .8rem !important;
            }
        }
        
    }

    #affiliate{
        margin-top: $space-sec-lg;
        .affiliate-wrapping{
            height: 10rem ;
        }  
    }    

    #testimonial{
        margin-top: $space-sec-lg;
        padding-bottom: $space-sec-lg;
        .section-heading{
            padding-top: $space-title-lg;
        }
        .tsml-card:last-child{
            display: block;
        }
        .card-body{
            margin-left: 2rem;
            .text-style{
                height: 5rem;
                font-size: .8rem;
            }
        }
        .profile-name{
            h6 , small{
                font-size: .8rem !important;
            }
        }
    }

    #footer{
        a{
            font-size: 85% !important;
        }
    }

  }

  @media (min-width: $viewport-xl) {
    // body{
    //     h1,h2,h3 {
    //         font-size: 175%;
    //     }
    //     p{
    //         // font-size: 115% !important;
    //     }
    //     a{
    //         font-size: 100%;
    //     }

    //     .button .button-light{
    //         padding: .3rem 1.5rem;
    //     }
        
    // }

    #top-cover{
        h4{
            font-size: 1.15rem;
        }
        .search-box{
            width: 50rem;
        }

        .listing-menu{
            margin-top: 5rem;
            
        .list-main-menu{

            .sub-2nd{
                margin-left: -12.7rem !important;
            }
            .sub-4th{
                margin-left: -36rem !important;
            }
            .sub-5th{
                margin-left: -47.7rem !important;
            }
            .sub-6th{
                margin-left: -59.4rem !important;
            }
            .list-sub-menu{
                margin-left: -24.4rem;
                width: 70rem ;
                
                .list-menu-name{
                    .see-more{
                        margin-left: 1rem;
                    }
                    
                    li{
                        margin-left: -.5rem;  
                    }
                }
                .sub-menu-title{
                    font-size: 1.1rem;
                }
                
                }
            }
        }
    }
    #top-categories{
        margin-top: $space-sec-xl ;
    }

    #directory-listing{
        margin-top: $space-sec-xl;
        padding-bottom: $space-sec-xl;
        .section-heading{
            padding-top: $space-title-xl !important;
        }
        
    }

    #trend-products{
        margin-top: $space-sec-md;
    }

    #affiliate{
        margin-top: $space-sec-xl;
        .affiliate-wrapping{
            height: 100% ;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .affiliate-content{
            top: 29%;
            .affiliate-txt{
                margin-left: 3.5rem;
                h4{
                    font-size: 1.3rem;
                }
                p{font-size: .9rem !important;}
            }
            .news-letter{
                // margin-right: 2.5rem;
                input{
                    font-size: .9rem;
                    
                }
            }
        }
    }

    #testimonial{
        margin-top: $space-sec-xl;
        padding-bottom: $space-sec-xl;
        .section-heading{
            padding-top: $space-title-xl;
        }
        
        .card-body{
            margin-left: 1.5rem;
            // .text-style{
            //     height: 5rem;
            //     font-size: .8rem;
            // }
        }
    }
    #footer{
        a{
            font-size: 95% !important;
        }
    }

  }

  @media (min-width: $viewport-xxl) {
    // body{
    //     h1, h2,h3 {
    //         font-size: 200%;
    //     }
        
    // }

    #top-cover{
        height: 30.25rem;
        .search-box{
            width: 55rem;
        }
        .search-title{
            margin-top: 7.5rem;
        }
        .dir-categories{
            margin-top: 7.5rem;
        }

        .listing-menu{
            margin-top: 5.5rem;
            
        .list-main-menu{

            .sub-2nd{
                margin-left: -14.4rem !important;
            }
            .sub-4th{
                margin-left: -41.6rem !important;
            }
            .sub-5th{
                margin-left: -55rem !important;
            }
            .sub-6th{
                margin-left: -68.7rem !important;
            }
            
            .list-sub-menu{
                margin-left: -28rem;
                width: 81rem ;
                
                .list-menu-name{
                    .see-more{
                        // margin-left: 1rem;
                    }
                    
                    li{
                        // margin-left: -.5rem;  
                    }
                }
                .sub-menu-title{
                    // font-size: 1.1rem;
                }
                
                }
            }
        }
    }

    #top-categories{
        margin-top: $space-sec-xxl ;
    }

    #directory-listing{
        margin-top: $space-sec-xxl;
        padding-bottom: $space-sec-xxl;
        .section-heading{
            padding-top: $space-title-xxl !important;
        }
        
    }

    #trend-products{
        margin-top: $space-sec-xl;
    }

    #affiliate{
        margin-top: $space-sec-xxl;
        .affiliate-wrapping{
            height: 100% ;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .affiliate-content{
            top: 30%;
            .affiliate-txt{
                margin-left: 6.5rem;
                // h4{
                //     font-size: 1.3rem;
                // }
                // p{font-size: .9rem !important;}
            }
            .news-letter{
                // margin-right: 2.5rem;
                input{
                    // font-size: .9rem;
                    
                }
            }
        }
    }

    #testimonial{
        margin-top: $space-sec-xxl;
        padding-bottom: $space-sec-xxl;
        .section-heading{
            padding-top: $space-title-xxl;
        }
        
        .card-body{
            margin-left: 0rem;
        }
    }

  }






@import url(../node_modules/bootstrap/dist/css/bootstrap.css);

@import url(../node_modules/bootstrap/scss/bootstrap.scss);
