
// colors
$primary-color: #7e3ff2;
$secondary-color: #1d1d1d;
$tertiary-color: #757575;

$light-color: #ffffff;
$body-color: #ffffff;
$bg-color: #f4f4f4;
$bg-color-deep: #e6e5e5;
  
  
$heading-color: $secondary-color;
$heading-sub-color: $tertiary-color;
$heading-color-light: #ffffff;
$title-color: $secondary-color;
$title-sub-color: $tertiary-color;
$title-color-deep: $tertiary-color;
$title-color-light: #ffffff;
$text-color: $tertiary-color;
$text-color-light: #d4d4d4;

$btn-hover-color: #ffffff;
$btn-color-light: #ffffff;
$line-color: #e6e5e5;

$bg-primary-light: rgba(126, 63, 242, 0.2);
$primary-color-light: rgba(126, 63, 242, 0.2);
$primary-color-deep: #6002EE;

$visited-color: #0000d6;
