@use "../base" as *;
@use "../partials/variables" as *;


.heading-title{
    padding-top: $padding-section-title;
    color: $heading-color;
    font-weight: $font-medium !important;
}

.heading-sub-title{
    color: $title-sub-color;
    padding-top: $padding-normal;
    padding-bottom: $padding-normal;
}
.heading-u-line{
    width: 4.5rem;
    height: 0.188rem;
    background-color: $primary-color;
    margin-top: $margin-normal;
}

.see-more{
    color: $primary-color;
    margin-bottom: $margin-normal;
    &:hover{
        cursor: pointer;
    }
}


.title-style{
    color: $title-color;
    // font-size: $title-font-size;
}

.title-sub-style{
    color: $text-color;
}
.text-style{
    color: $text-color;
    font-size: $text-font-size;
    // text-align: justify;
    // text-align-last: left;
}

.box-shadow{
    box-shadow: 1px 1px 5px #c9c7c7;
}

.Favorite{
    color: $primary-color;
    background-color: $bg-primary-light;
    padding: $padding-min-extra;
    width: 1.875rem;
    height: 1.875rem;
    // position: absolute;
    top: 1rem;
    left: 1rem;
    // visibility: hidden;
    &:hover{
        visibility: visible;
    }
}


.likes{ 
    color: $text-color;
    color: $primary-color;
    padding-right: $padding-min-extra
    }
.reviews{
    color: $text-color;
    color: $primary-color;
    font-size: $text-extra-small
    }

.contact-link{
    color: $text-color;
    text-decoration: none;
    font-size: $text-font-size;
    i{
        padding-right: $padding-min;
        color: $primary-color;
    }
}

.page-navigation{
    ul{ 
        list-style: none;
        li{
            margin-right: $padding-min;

            a{
                color: $primary-color;
                font-size: $text-font-size-large;
                text-decoration: none;
                padding : 1px 10px;
                
            }
            
        }
    }
}

.prev-next-btn{
    color: $primary-color;
    font-size: $title-font-size;
}

// single product view page
.color{
    width: $color-width;
    height: $color-height;
    margin-right: $padding-min;
    cursor: pointer;
}

.size{
    @extend .color;
    border: 1px solid $text-color;
    color: $text-color;
    text-align: center;
    cursor: pointer;
}

.button{
    color: $btn-color-light;
    background-color: $primary-color;
    border-radius: 1rem;
    padding: $padding-btn-y $padding-btn-x;
    transition: .3s;
    cursor: pointer;
    &:hover{
        background-color: $primary-color-deep;
    }
}

.button-outline{
    @extend .button;
    background-color: $body-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover{
        color: $btn-color-light;
    }
}

.button-light{
    @extend .button;
    background-color: $body-color;
    color: $primary-color;
    &:hover{
        background-color: $bg-color;
    }
}

.add-cart{
    @extend .button;
    background-color: $body-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    padding: .2rem 2rem !important;
    &:hover{
        color: $btn-color-light;
    }
}
