
@import url(/node_modules/bootstrap/scss/bootstrap.scss);

$padding-min-extra: 0.313rem;
$padding-min: 0.625rem;
$padding-medium: 0.938rem;
$padding-normal: 1.25rem;
$padding-max: 1.875rem;

$padding-section: 6.25rem;
$padding-section-title: 3.125rem;






//margin
$margin-min-extra: 0.313rem;
$margin-min: 0.625rem;
$margin-medium: 0.938rem;
$margin-normal: 1.25rem;
$margin-max: 1.875rem;

$margin-section: 6.25rem;
$margin-section-title: 3.125rem;

$listing-logo: 3.375rem;


//choose color
$color-width: 1.5rem;
$color-height: 1.5rem;

// btn
$padding-btn-x: 1.5rem;
$padding-btn-y: .3rem;

// viewport
$viewport-xm: 0rem;
$viewport-sm: 36rem;
$viewport-md: 48rem;
$viewport-lg: 62rem;
$viewport-xl: 75rem;
$viewport-xxl: 87.5rem;
