@use "../partials/index" as *;
@use "../base/index" as *;


//single-product css start
#single-product{ margin-top: $margin-section; margin-bottom: $margin-max;
    .container{
        .single-p-wrapping{
            .product-url{ margin-left: -$margin-normal;
                a{
                    color: $text-color;
                    font-size: $text-font-size;
                    &:hover{color: $primary-color;}
                    
                }
            }

            .single-product{
                .image-view{

                }
                .add-cart, .button, .button-outline {
                    font-size: .85rem ;
                }

                .product-supplier-info{
                    .product-info{
                        .reviews{
                            i{
                                font-size: .75rem;
                            }
                        }
                        
                        .product-title{
                            color: $title-color;
                        }
                        .rangking{
                            color: $text-color;
                        }
                        .price{
                            color: $title-color;
                            h5{
                                i{color: $primary-color;}
                            }
                            .shop-now{
                                a{
                                    color: $primary-color;
                                }
                                transition: .3s;
                                &:hover{
                                    i{
                                        transform: scale(1.2);
                                        margin-left: $padding-min-extra;
                                    }
                                }
                            }
                        }
                        .colors{
                            color: $title-color;
                        }
                        .sizes{
                            color: $title-color;
                        }
                        .qty{
                            color: $title-color;
                            input:focus{
                                border: none !important;
                            }
                        }
                        
                    }
                    .suppliers-info{
                        color: $text-color;
                        .supplier-title{
                            color: $title-color;
                        }
                        .location{
                            i{color: $primary-color;}
                        }
                        .supplier-shop{
                            i{color: $primary-color;}
                        }
                        .reviews{
                            i{
                                font-size: .75rem;
                            }
                        }
                        
                        
                    }

                }
            }
        }
    }

}
//single-product css end



//simillar products css start
#simillar-products{
    margin-bottom: 50px;
    
}
//simillar products css end





// media responsive start
@media (min-width: $viewport-xm){
    #single-product{
        // margin-top: ;
        .product-url{
            display: none;
        }
    }

    #simillar-products, #recomended-products{
        .prev-next-btn{font-size: .8rem;}
        .product-list{
            .text-style{
                display: none;
            }
            .rangking{
                padding-top: $margin-min;
                font-size: .85rem;
                // .reviews{
                //     .fa-star{
                //         font-size: .8rem !important;
                //     }
                // }
            }
            
            .price{
                font-size: 1rem !important;
            }
            .button{
                font-size: .65rem !important;
                padding: .2rem 0.625rem;
            }
            .see-more{
                margin-bottom: $space-title-xm;
            }
        }
    }
    
    #simillar-products{
        margin-top: 5rem;
    }


    #recomended-products{
        padding-bottom: $space-sec-md;
        .heading-title{
            padding-top: $space-title-xm;
        }
    }

    
}




@media (min-width: $viewport-lg){
    .reviews{
        i{
            font-size: .85rem !important;
        }
    }
    .prev-next-btn{
        font-size: 1.4rem !important;
    }
    

    #single-product{
        // margin-top: ;
        .product-url{
            display: block;
        }

        .product-title{
            font-size: 1.5rem;
        }
        .rangking{
            font-size: 1.15rem !important;
        }
        .price{
            h5{font-size: 1.5rem;}
        }
        .shop-now{
            font-size: 1.3rem;
        }
        .colors{
            font-size: 1.3rem;
        }
        .sizes{
            color: $title-color;
        }
        .size-title{
            font-size: 1.3rem;
        }
        .qty{
            font-size: 1.3rem;
        }

        .add-cart, .button, .button-outline {
            font-size: 1.1rem !important;
        }

        .suppliers-info{
            .supplier-title{
                h5{font-size: 1.2rem;}
            }
            .location{
                font-size: 1.13rem ;
            }
        }
        
    }

    #recomended-products{
        margin-top: $space-sec-xxl;
        padding-bottom: $space-sec-xxl;
        .heading-title{
            padding-top: $space-title-xxl;
        }
    }

}