@use "../partials/index" as *;
@use "../base/index" as *;

body{
    background-color: $bg-color;
}
.user-profile{
    .user-nav{
        background-color: lighten($color: $primary-color, $amount: 30);
        position: absolute;
        right: 0;
        top: 6rem;
        display: none;
    }
    
    .nav{
        padding-top: 7rem;
        margin-left: -1rem;
        width: 17.5rem;
        background-color: $primary-color;
        // background-color: lighten($secondary-color, 10);
        height: 100vh;
        button{
            color: $light-color ;
            padding-left: 3rem;
        }
        .active{
            background-color: lighten($primary-color, 5)
        }
        .nav-link{
            &:hover{
                background-color: lighten($primary-color, 5)
            }
        }
        .user-photo{
            width: 10rem;
            height: 10rem;
            color: $light-color;
            img{
                border: 5px solid $light-color;
            }
        }
    }

    .tab-content{
        margin-top: 8rem;
        width: 100%;
        padding-bottom: 5rem;
        .dashboard{
            .in-cart{
                background-color: blueviolet;
            }
        }

        .cart-list{
            .btn{
                background-color: lighten($primary-color, 30);
                transition: .3s;
                &:hover{
                    background-color: $primary-color;
                    color: $light-color;
                }
            }
        }

        .profile-detail{
            h5{
                padding: 1rem;
                background-color: lighten($color: $primary-color, $amount: 30);
            }
        }

        .product-list{
            .product-card{
                .card{
                    .remove-btn{
                        color: $primary-color;
                        background-color: lighten($color: $primary-color, $amount: 30);
                        i{padding: .5rem}
                        right: .5rem;
                        top: .5rem;
                        display: none !important;
                        transition: .3s;
                        &:hover{
                            color: $light-color;
                            background-color: $primary-color;
                        }
                    }
                    transition: .3s;
                    &:hover{
                        .remove-btn{
                            display: initial !important;
                        }
                    }
                }
            }
        }
        
    }
}

.order-detail{
    background-color: $bg-color;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: none;
    .active{
        display: block;
    }
    .order-sum{
        margin-top: 10rem;
        width: 100%;
        
    }
}



// media start
@media (max-width: 596px){
    .user-profile{
        .user-nav{
            display: initial;
        }
        .nav{
            display: none;
        }

        .tab-content{
            margin-top: 7rem;
            margin-left: 0rem !important;
            .table{
                font-size: .8rem;
            }

            .user-setting{
                label, input, select, button{
                    font-size: .8rem;
                }
            }
        }
        .order-detail{
            margin-left: -1rem;
            .order-sum{
                .list-wrap{
                    width: 38rem;
                }
                
            }
        }
    }
}




@media (max-width: 1200px){
    .user-profile{
        .nav{
            width: 13rem;
            margin-left: -.3rem;
            .nav-link{
                font-size: .85rem;
                padding-left: 2rem;
            }
            .user-photo{
                width: 8rem;
                height: 8rem;
                img{
                    border: 3.5px solid $light-color;
                }
            }
        }

        .tab-content{
            margin-left: 8.5rem;
            .order-filter{
                label, input, button {
                    font-size: .85rem;
                }
            }
            .wishlist{

            }
            .user-setting{
                img{
                    // width: 15rem !important;
                    // height: 15rem !important;
                }
            }
        }
    }

    .order-detail{
        margin-left: 8.5rem;
    }
}